@inject ITranslationsService t

<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly"
	        AdditionalAssemblies="new[] { typeof(MainLayout).Assembly }">

		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<Authorizing>
					<div class="d-flex align-center justify-center" style="height: 100%">
						<MudSkeleton Style="position: absolute" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Width="100%" Height="100%" />
						<MudText role="alert" Style="text-align: center; margin:auto;" Typo="Typo.h4">@t.T("app", "authorizing")</MudText>
					</div>
				</Authorizing>
				<NotAuthorized>
					<div class="d-flex align-center justify-center" style="height: 100%">
						<MudText role="alert" Style="text-align: center; margin:auto;" Typo="Typo.h4">@t.T("app", "pleaseLogIn")</MudText>
					</div>
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<PageTitle>@t.T("app", "notFoundTitle")</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<div class="d-flex align-center justify-center" style="height: 100%">
					<MudText role="alert" Style="text-align: center; margin:auto;" Typo="Typo.h4">@t.T("app", "notFoundBody")</MudText>
				</div>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>