@page "/authentication/{action}"
@using Concerto.Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IAccountClient AccountService
@inject IUserService UserService
@inject NavigationManager Navigation
@inject ILanguageService t


<RemoteAuthenticatorView Action="@Action" OnLogInSucceeded="OnLogInSucceeded">
	
	<LogInFailed>
		<div class="d-flex align-center justify-center" style="height: 100%">
			<MudText role="alert" Style="text-align: center; margin:auto;" Typo="Typo.h4">@t.T("authentication", "logInFailed")</MudText>
		</div>
	</LogInFailed>
	<LogOut>
		<div class="d-flex align-center justify-center" style="height: 100%">
			<MudSkeleton Style="position: absolute" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Width="100%" Height="100%" />
			<MudText role="alert" Style="text-align: center; margin:auto;" Typo="Typo.h4">@t.T("authentication", "logOut")</MudText>
		</div>
	</LogOut>
	<LogOutSucceeded>
		<div class="d-flex align-center justify-center" style="height: 100%">
			<MudText role="alert" Style="text-align: center; margin:auto;" Typo="Typo.h4">@t.T("authentication", "logOutSucceeded")</MudText>
		</div>
	</LogOutSucceeded>
	<LoggingIn>
		<div class="d-flex align-center justify-center" style="height: 100%">
			<MudSkeleton Style="position: absolute" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Width="100%" Height="100%" />
			<MudText role="alert" Style="text-align: center; margin:auto;" Typo="Typo.h4">@t.T("authentication", "loggingIn")</MudText>
		</div>
	</LoggingIn>
	<CompletingLoggingIn>
		<div class="d-flex align-center justify-center" style="height: 100%">
			<MudSkeleton Style="position: absolute" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Width="100%" Height="100%" />
			<MudText role="alert" Style="text-align: center; margin:auto;" Typo="Typo.h4">@t.T("authentication", "completingLoggingIn")</MudText>
		</div>
	</CompletingLoggingIn>
</RemoteAuthenticatorView>

@code {

	[CascadingParameter]
	private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

	[Parameter]
	public string? Action { get; set; }

	private async Task OnLogInSucceeded()
	{
		await AccountService.AfterLoginAsync();
	}

	void OnLogOutSucceeded()
	{
	}

}