@using System.Net.Http.Headers

@inherits DialogAutoFullscreen

@inject ISnackbar Snackbar
@inject IStorageService StorageService

<MudDialog Style="max-width: 100vw">
	<DialogContent>
		<MudStack Style="width: 100%" Spacing="0">
			<MudFileUpload Style="overflow: auto; overflow-x: hidden;" T="IReadOnlyList<IBrowserFile>" FilesChanged="OnInputFileChanged" MaximumFileCount="1000"
						   Hidden="false" Class="@DragClass" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
						   @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
				<ButtonTemplate>
					<div style="height: 200px;">
						<MudText Style="position: sticky;" Typo="Typo.h6">
							Click here or drag files
						</MudText>
						@foreach (var file in _fileNames)
						{
							<MudChip Class="" Color="Color.Dark" Text="@file" />
						}
					</div>
				</ButtonTemplate>
			</MudFileUpload>
		</MudStack>
	</DialogContent>

	<DialogActions>
		<MudButton OnClick="Cancel" Color="Color.Error" Variant="Variant.Filled">Cancel</MudButton>
		<MudButton OnClick="Clear" Disabled="@(!_fileNames.Any())" Color="Color.Warning" Variant="Variant.Filled">Clear</MudButton>
		<MudButton OnClick="Upload" Disabled="@(!_fileNames.Any())" Color="Color.Primary" Variant="Variant.Filled">Upload</MudButton>
	</DialogActions>
</MudDialog>

@code {
	[Parameter]
	public long FolderId { get; set; }

	private static string DefaultDragClass = "flex-1 relative rounded-lg border-4 cursor-pointer border-dashed pa-4 mt-4 mud-width-full mud-height-full z-10";
	private string DragClass = DefaultDragClass;
	private List<string> _fileNames = new();
	private IReadOnlyList<IBrowserFile> _files = new List<IBrowserFile>();

	private void OnInputFileChanged(IReadOnlyList<IBrowserFile> files)
	{
		ClearDragClass();
		_files = files;
		_fileNames = _files.Select(f => f.Name).ToList();
	}

	private async Task Clear()
	{
		_fileNames.Clear();
		ClearDragClass();
		await Task.Delay(100);
	}


	private void SetDragClass()
	{
		DragClass = $"{DefaultDragClass} mud-border-primary";
	}

	private void ClearDragClass()
	{
		DragClass = DefaultDragClass;
	}

	void Cancel()
	{
		Dialog.Cancel();
	}

	private void Upload()
	{
		StorageService.QueueFilesToUpload(FolderId, _files);
		Dialog.Close();
	}
}


