@inherits MudComponentBase

@inject IAccountClient AccountService
@inject ITranslationsService translationsService
@inject IDialogService DialogService

<MudTable T="UserIdentity" Items="Users" Loading="Loading"
		  Height="100%" Class="@Class" Style="@($"height: 100%; display: grid; grid-template-rows: min-content 1fr; {Style}")" RowsPerPage="PageSize.Default" Filter="new Func<UserIdentity, bool>(UserFilter)"
		  FixedHeader="true" FixedFooter="true" Outlined="true" Hover="true" Elevation="0">

    <ToolBarContent>
        <MudText Class="mr-2" Typo="Typo.subtitle1">@translationsService.T("userManager", "title")</MudText>
		<MudSpacer />
        <MudTextField @bind-Value="_searchString" Immediate="true" DebounceInterval="200" Placeholder="@translationsService.T("common", "search")" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
					  Class="mt-0 mr-2" Style="" />
		<MudSpacer />
        <MudIconButton Title="@translationsService.T("common", "refresh")" Variant="Variant.Filled" Color="Color.Default" DisableElevation="true" Icon="@Icons.Material.Filled.Refresh"
					   OnClick="Load" />
	</ToolBarContent>

	<ColGroup>
		<col />
		<col />
		<col />
		<col />
		<col />
		<col />
	</ColGroup>

	<HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<UserIdentity, object>(x => x.FirstName)">@translationsService.T("userManager", "nameColumn")</MudTableSortLabel>
		</MudTh>
		<MudTh>
            <MudTableSortLabel SortBy="new Func<UserIdentity, object>(x => x.LastName)" InitialDirection="SortDirection.Ascending">@translationsService.T("userManager", "surnameColumn")</MudTableSortLabel>
		</MudTh>
		<MudTh>
            <MudTableSortLabel SortBy="new Func<UserIdentity, object>(x => x.Username)">@translationsService.T("userManager", "usernameColumn")</MudTableSortLabel>
		</MudTh>
		<MudTh>
            <MudTableSortLabel SortBy="new Func<UserIdentity, object>(x => x.Email)">@translationsService.T("userManager", "emailColumn")</MudTableSortLabel>
		</MudTh>

		<MudTh>
            <MudTableSortLabel SortBy="new Func<UserIdentity, object>(x => x.Role.ToDisplayString())">@translationsService.T("userManager", "roleColumn")</MudTableSortLabel>
		</MudTh>

		<MudTh>
            @translationsService.T("common", "actions")
		</MudTh>

	</HeaderContent>

	<RowTemplate>
        <MudTd DataLabel="@translationsService.T("userManager", "nameColumn")">@context.FirstName</MudTd>
        <MudTd DataLabel="@translationsService.T("userManager", "surnameColumn")">@context.LastName</MudTd>
        <MudTd DataLabel="@translationsService.T("userManager", "usernameColumn")">@context.Username</MudTd>
        <MudTd DataLabel="@translationsService.T("userManager", "emailColumn")">
			<div>
				@if (context.EmailVerified)
				{
					<MudIcon Class="text-icon" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Verified" />
				}
				else
				{
					<MudIcon Class="text-icon" Size="Size.Small" Color="Color.Error" Icon="@Icons.Material.Filled.Error" />
				}
				@context.Email
			</div>
		</MudTd>


        <MudTd DataLabel="@translationsService.T("userManager", "roleColumn")">
			<div>
				@if (context.Role is Role.Unverified)
				{
					<MudIcon Class="text-icon" Size="Size.Small" Color="Color.Error" Icon="@Icons.Material.Filled.Error" />
				}
				else
				{
					<MudIcon Class="text-icon" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.VerifiedUser" />
				}
				@context.Role.ToDisplayString()
			</div>
		</MudTd>

        <MudTd DataLabel="@translationsService.T("common", "actions")">

			<div>
				@if (Unverified && context.Role == Role.Unverified)
				{
                    <MudIconButton Title="@translationsService.T("userManager", "confirmUser")" Disabled="!context.EmailVerified" Variant="Variant.Filled" Color="Color.Success" DisableElevation="true" Icon="@Icons.Material.Filled.Check"
							   OnClick="async () => await VerifyUser(context)" />
                    <MudIconButton Title="@translationsService.T("userManager", "rejectUser")" Variant="Variant.Filled" Color="Color.Error" DisableElevation="true" Icon="@Icons.Material.Filled.Close"
							   OnClick="async () => await DeleteUser(context)" />
				}
				else
				{
                    <MudIconButton Title="@translationsService.T("common", "settings")" Variant="Variant.Filled" Color="Color.Info" DisableElevation="true" Icon="@Icons.Material.Filled.Settings"
							   OnClick="async () => await UpdateUser(context)" />
                    <MudIconButton Title="@translationsService.T("userManager", "deleteUser")" Variant="Variant.Filled" Color="Color.Error" DisableElevation="true" Icon="@Icons.Material.Filled.PersonRemove"
							   OnClick="async () => await DeleteUser(context)" />
				}
			</div>
		</MudTd>
	</RowTemplate>

	<PagerContent>
		<MudTablePager PageSizeOptions="PageSize.DefaultOptions" />
	</PagerContent>

</MudTable>


@code {
	[CascadingParameter] public LayoutState LayoutState { get; set; } = LayoutState.Default;

	bool Loading => _users is null;

	[Parameter] public bool Unverified { get; set; } = false;

	private List<UserIdentity>? _users;
	private List<UserIdentity> Users => _users ?? new();
	private string _searchString = string.Empty;

	protected override async Task OnParametersSetAsync()
	{
		await Load();
	}

	private async Task Load()
	{
		_users = null;
		_users = Unverified 
			? (await AccountService.GetUnverifiedUserIdentitiesAsync()).ToList()
			: (await AccountService.GetUserIdentitiesAsync()).Where(u => u.Role is not Role.Unverified).ToList();
	}

	private async Task VerifyUser(UserIdentity user)
	{
		if (!await DialogService.ShowConfirmationDialog(translationsService.T("userManager", "verifyUserTitle"), translationsService.T("userManager", "confirm"), translationsService.T("userManager", "user"), $"{user.FullName} ({user.Username}) ({user.Email})"))
			return;
		await AccountService.VerifiyUserAsync(user.SubjectId);
		await Load();
	}

	private async Task DeleteUser(UserIdentity user)
	{
		if (!await DialogService.ShowConfirmationDialog(translationsService.T("userManager", "deleteUserTitle"), translationsService.T("common", "delete"), translationsService.T("userManager", "user"), $"{user.FullName} ({user.Username}) ({user.Email})", true))
			return;
		await AccountService.DeleteUserAsync(user.SubjectId);
		await Load();
	}

	private async Task UpdateUser(UserIdentity user)
	{
		if(await DialogService.ShowUpdateUserDialog(user))
			await Load();
	}

	private bool UserFilter(UserIdentity user)
	{
		if (string.IsNullOrEmpty(_searchString))
			return true;
		else if (user.FullName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		else if (user.Username.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		else if (user.Email.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		else
			return false;
	}
}
