@using Concerto.Shared.Models.Dto
<div>
	<MudSelect T="CourseUserRole" Style="min-width: 200px;" Variant="Variant.Outlined" Margin="Margin.Dense" Dense="true" Value="Value" ValueChanged="ValueChanged" AnchorOrigin="Origin.BottomCenter">
		<MudSelectItem Value="@(CourseUserRole.Admin)">@CourseUserRole.Admin.ToDisplayString()</MudSelectItem>
		<MudSelectItem Value="@(CourseUserRole.Supervisor)">@CourseUserRole.Supervisor.ToDisplayString()</MudSelectItem>
		<MudSelectItem Value="@(CourseUserRole.Member)">@CourseUserRole.Member.ToDisplayString()</MudSelectItem>
	</MudSelect>
</div>



@code {

	[Parameter]
	public CourseUserRole Value { get; set; }

	[Parameter]
	public EventCallback<CourseUserRole> ValueChanged { get; set; }

	[Parameter]
	public EventCallback<CourseUserRole> OnChange { get; set; }

	async Task Selected(CourseUserRole role)
	{
		await ValueChanged.InvokeAsync(role);
		await OnChange.InvokeAsync(role);
	}

}